nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: white;
  padding-left: 4rem;
}

img { object-fit: scale-down;}


.container {
  width: 100%;
  position: relative;
}

.formcontainer {
  padding: 10px;
  margin: 30px;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.inputcontainer {
  padding: 1rem;
  width: auto;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

button {
  max-width: 50%;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #252424;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #282828;
}

@media screen and (max-width: 400px) {
  nav {
    font-size: 20px;
  }
}
