
nav {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  padding-left: 4rem;
  font-weight: bolder;
  font-size: 30px;
}

.container { width: 100%;}

.formcontainer {
  padding: 10px;
  margin: 30px;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.inputcontainer {
  padding: 1rem;
  width: auto;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

button {
  width: 250px;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  text-align: center;
  background-color: #e6472b;
  color: #fff;
  border: 1px solid #d44127;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c23c25;
}

@media screen and (max-width: 400px) {
  nav {
    font-size: 20px;
  }
}
