.datainputrowcontainer {
  border-width: 1px;
  border-style: ridge;
  margin: 7px;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.datainputcontainer {
  margin: 20px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 400px;
}

.datainput {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 3%;
  margin: 7px;
}

.displaydatacontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #d44127;
  border-color: brown;
  color: azure;
  border-radius: 4%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 80px;
}

.title {
  font-weight: bold;
  text-align: center;
  padding: 30px;
  margin: 0;

}

@media screen and (max-width: 460px) {
  .title {
    font-size: 25px;
  }
  .datainput {
    font-size: 20px;
  }
}
